<!-- Menu Profissional -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="/">Projeto Final</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pessoa" routerLinkActive="active">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pessoa" routerLinkActive="active">Cadastre-se</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/relatorios" routerLinkActive="active">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header da Tela Inicial -->
<header class="bg-light py-4 mb-4 shadow-sm">
  <div class="container d-flex justify-content-between align-items-center">
    <h2 class="mb-0">Bem-vinda, Carol!</h2>
   
  </div>
</header>